<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Zombie Devs" />
    <link rel="stylesheet" href="../story.css" />
    <title>Zombie Devs Game</title>
  </head>
  <body>
    <header>
      <a href="../index.html"
        ><ul class="headerLeft">
          <li></li>
          <li>Inicio</li>
        </ul>
      </a>
      <ul class="headerCenter">
        <li>&lt;Zombie devs/&gt; Game</li>
      </ul>
      <ul class="headerRight">
        <li>&lt;CODE/&gt;</li>
        <li>CREDITS</li>
      </ul>
    </header>
    <div class="headerBorder"></div>

    <main>
      <section class="panel">
<!-- Los controles los dejo de momento como imagen
creo que acordamos que no iban a ser funcionales
pero ahora tengo duda... -->
        <div class="controls">
          <img src="../../img/controls.png" alt="controls">
        </div>
        <div class="game">
          <div class="progressBar">
            <img src="../../img/ZombieHead.png" alt="zombie head">
            <svg width="15" height="15" viewBox="0 0 15 15" xmlns="http://www.w3.org/2000/svg">
              <rect width="15" height="15" fill="#66EC7F"/>
            </svg>
            <svg width="15" height="15" viewBox="0 0 15 15" xmlns="http://www.w3.org/2000/svg">
                <rect width="15" height="15" fill="#66EC7F"/>
            </svg>
            <svg width="15" height="15" viewBox="0 0 15 15" xmlns="http://www.w3.org/2000/svg">
                <rect width="15" height="15" fill="#66EC7F"/>
            </svg>
            <svg width="15" height="15" viewBox="0 0 15 15" xmlns="http://www.w3.org/2000/svg">
                <rect width="15" height="15" fill="#66EC7F"/>
            </svg>
            <svg width="15" height="15" viewBox="0 0 15 15" xmlns="http://www.w3.org/2000/svg">
                <rect width="15" height="15" fill="#66EC7F"/>
            </svg>
            <svg width="15" height="15" viewBox="0 0 15 15" xmlns="http://www.w3.org/2000/svg">
                <rect width="15" height="15" fill="#66EC7F"/>
            </svg>
            <img src="../../img/Runner.png" alt="character">
          </div>
          <div class="card">
            <img src="../../img/card7.png" alt="ilustración moto y triciclo" />
            <div class="storyContent">
              <p>
                Estas fuera de la casa y ves el triciclo de tu vecina de 6 años.
                ¡Qué cukyyy, es rosa! Al lado tienes una moto super chula con las llaves puestas.
              </p>
              <button class="optionButton">A. Coges la moto a toda velocidad e intentas arrancarla para huir</button>
              <button class="optionButton">B. A lo seguro, coges el triciclo, son muchos de años de experiencia</button>
            </div>
            
          </div>
          <div class="score">
            <img src="../../img/coffee.png" alt="taza de café">
            <p>Coffee:</p>
            <p id="points">1000</p>
          </div>
        </div>
        <button class="reset">RESET</button>
      </section>
    </main>
    <script src="../../script.js"></script>
  </body>
</html>
