<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Zombie Devs" />
    <link rel="icon" href="../img/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="story.css" />
    <link rel="stylesheet" href="game-over.css" />
    <title>Zombie Devs Game</title>
  </head>
  <body>
    <header>
      <a href="../index.html"
        ><ul class="headerLeft">
          <li></li>
          <li>Inicio</li>
        </ul>
      </a>
      <ul class="headerCenter">
        <li>&lt;Zombie devs/&gt; Game</li>
      </ul>
      <ul class="headerRight">
        <li>&lt;CODE/&gt;</li>
        <li>CREDITS</li>
      </ul>
    </header>
    <div class="headerBorder"></div>

    <main>
      <section class="panel">
        <div class="gameOverContent">
          <h3>GAME OVER</h3>
          <p>Te has quedado sin patito</p>
          <img
            src="../img/logo.png"
            alt="logo zombie dev game"
            class="gameOver"
          />
          <a href="../index.html"
            ><button class="optionButton">JUGAR DE NUEVO</button></a
          >
        </div>

        <div class="score"></div>
      </section>
    </main>
  </body>
</html>
