<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Zombie Devs" />
    <link rel="stylesheet" href="intro1.css" />
    <title>Zombie Devs Game</title>
  </head>
  <body>
    <header>
      <a href="../index.html"
        ><ul class="headerLeft">
          <li></li>
          <li>Inicio</li>
        </ul>
      </a>
      <ul class="headerCenter">
        <li>&lt;Zombie devs/&gt; Game</li>
      </ul>
      <ul class="headerRight">
        <li>&lt;CODE/&gt;</li>
        <li>CREDITS</li>
      </ul>
    </header>
    <div class="headerBorder"></div>

    <main>
      <div class="progressBar"></div>
      <div class="game">
        <div class="card">
          <img src="../img/img1.png" alt="" />
          <p>
            Después de horas y horas creando un videojuego y demasiados cafés
            encima, creo que va siendo hora de acostarme. Mañana toca seguir
            trabajando...
          </p>
          <button>CONTINUAR</button>
        </div>
      </div>

      <div class="rectangles">
        <div class="rectangle1">ejemplo</div>
        <div class="rectangle2"></div>
        <div class="rectangle3"></div>
        <div class="rectangle4"></div>
      </div>
    </main>
    <script src="script.js"></script>
  </body>
</html>
