<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Zombie Devs" />
    <link rel="stylesheet" href="story.css" />
    <title>Zombie Devs Game</title>
  </head>
  <body>
    <header>
      <a href="../index.html"
        ><ul class="headerLeft">
          <li></li>
          <li>Inicio</li>
        </ul>
      </a>
      <ul class="headerCenter">
        <li>&lt;Zombie devs/&gt; Game</li>
      </ul>
      <ul class="headerRight">
        <li>&lt;CODE/&gt;</li>
        <li>CREDITS</li>
      </ul>
    </header>
    <div class="headerBorder"></div>

    <main>
      <section class="panel">
        <div class="controls">
          <p>Utiliza las flechas para seleccionar una opción.</p>
          <img src="/img/controls.png" alt="controls">
        </div>
        <div class="game">
          <div class="progressBar">
            <img src="/img/ZombieHead.png" alt="zombie head">
            <img src="/img/Runner.png" alt="character">
            <svg width="15" height="15" viewBox="0 0 15 15" xmlns="http://www.w3.org/2000/svg">
              <rect width="15" height="15" fill="#2692C3"/>
            </svg>
            <svg width="15" height="15" viewBox="0 0 15 15" xmlns="http://www.w3.org/2000/svg">
              <rect width="15" height="15" fill="#2692C3"/>
            </svg>
            <svg width="15" height="15" viewBox="0 0 15 15" xmlns="http://www.w3.org/2000/svg">
              <rect width="15" height="15" fill="#2692C3"/>
            </svg>
            <svg width="15" height="15" viewBox="0 0 15 15" xmlns="http://www.w3.org/2000/svg">
              <rect width="15" height="15" fill="#2692C3"/>
            </svg>
            <svg width="15" height="15" viewBox="0 0 15 15" xmlns="http://www.w3.org/2000/svg">
              <rect width="15" height="15" fill="#2692C3"/>
            </svg>
            <svg width="15" height="15" viewBox="0 0 15 15" xmlns="http://www.w3.org/2000/svg">
              <rect width="15" height="15" fill="#2692C3"/>
            </svg>
          </div>
          <div class="card">
            <img src="../img/card1.png" alt="ilustración personaje programando" /> 
            <div class="storyContent">
                <p>
                  Después de horas y horas creando un videojuego y demasiados cafés
                  encima, creo que va siendo hora de acostarme. Mañana toca seguir
                  trabajando...
                </p>
                <button class="optionButton">[ Pulsa ENTER para continuar ]</button>
              </div>
  <!-- Este div es el que continúa la historia,
  en css tiene un display: none;
  Podemos hacerlo visible con js. -->
            <div class="introStory2">
              <div class="introStoryContent">
                <p>
                  Además tengo prácticamente acabado el juego,
                  solo queda rematar cómo conseguir escapar y salir con vida de la casa…
                  ¿Qué haces?
                </p>
                <button class="optionButton">A. Te acuestas tranquilamente en tu cama</button>
                <button class="optionButton">B. Sigues programando, aún puedes acabarlo</button>
              </div>
            </div>
          </div>
          <div class="score">
            <img src="/img/coffee.png" alt="taza de café">
            <p>Coffee:</p>
            <p id="points">1000</p>
          </div>
        </div>
        <button class="reset">RESET</button>
      </section>
    </main>
    <script src="../script2.js"></script>
  </body>
</html>
