@import url("https://fonts.googleapis.com/css2?family=Pixelify+Sans&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  outline: none;
}

body {
  background-color: #00000d;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  font-family: "Pixelify Sans";
}

.logo {
  position: fixed;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
}

header {
  margin: 20px 36px;
  height: 100px;
  background: linear-gradient(
    88deg,
    #6e20f6 0.91%,
    #00c6ee 25.73%,
    #7707d7 65.84%,
    #ff0156 96.39%
  );
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 32px;
  text-transform: uppercase;
  border-bottom: solid 20px transparent;
  border-image: linear-gradient(
      90deg,
      #2f04ed 0%,
      #00c6ee 26%,
      #7707d7 68%,
      #ff001d 100%
    )
    1;
}

.headerLeft {
  margin-left: 20px;
  display: flex;
  gap: 40px;
  box-shadow: 4px 4px #000023;
  color: #00000d;
  align-items: center;
}
.headerLeft:first-child {
  height: 28px;
  width: 28px;
  background-color: #ff0156;
  border-radius: 50%;
  font-size: 32px;
}

.headerCenter {
  color: #fff;
  font-size: 54px;
  margin-left: 200px;
}

.headerRight {
  display: flex;
  gap: 20px;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
}
.headerRight li {
  list-style-type: square;
  margin-right: 20px;
  font-size: 32px;
  font-weight: bold;
}

header ul li:hover {
  color: #fff;
}

main {
  margin: 0 36px;
  border: 20px solid transparent;
  border-image: linear-gradient(
      76deg,
      #ff0156 0.91%,
      #7707d7 31.46%,
      #00c6ee 71.57%,
      #6e20f6 96.39%
    )
    1;
  display: flex;
  flex-direction: column;
}

.game{
    z-index: 100;
}

.card {
  height: 200px;
  width: 30%;
  text-align: center;
  margin-top: 40px;
}

.card p{
    color: #fff;
}

.rectangles{
    width: 100%;
}
.rectangle1,
.rectangle2,
.rectangle3,
.rectangle4 {
  background-color: #000023;
  margin-bottom: 10px;
}

.rectangle1 {
  margin-top: 40px;
  height: 13px;
  
}
.rectangle2 {
  height: 35px;
  
}
.rectangle3 {
  height: 60px;
  
}
.rectangle4 {
  height: 150px;
  
}


