@import url("https://fonts.googleapis.com/css2?family=Pixelify+Sans&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  outline: none;
}

:root{
  --color-pink:#ff0156;
  --color-green: #66ec7f;
  --color-malva: #181872;
}

body {
  background-image: url(/img/background.jpg);
  height: 100vh;
  width: 100vw;
  /* overflow: hidden; */
  font-family: "Pixelify Sans";
}

.logo {
  position: fixed;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
}

header {
  margin: 20px 36px;
  height: 100px;
  background: linear-gradient(88deg,
      #6e20f6 0.91%,
      #00c6ee 25.73%,
      #7707d7 65.84%,
      #ff0156 96.39%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 32px;
  text-transform: uppercase;
  border-bottom: solid 20px transparent;
  border-image: linear-gradient(90deg,
      #2f04ed 0%,
      #00c6ee 26%,
      #7707d7 68%,
      #ff001d 100%) 1;
}

.headerLeft {
  margin-left: 20px;
  display: flex;
  gap: 40px;
  box-shadow: 4px 4px #000023;
  color: #00000d;
  align-items: center;
}

.headerLeft:first-child {
  height: 28px;
  width: 28px;
  background-color: var(--color-pink);
  border-radius: 50%;
  font-size: 32px;
}

.headerCenter {
  color: #fff;
  font-size: 54px;
  margin-left: 200px;
}

.headerRight {
  display: flex;
  gap: 20px;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
  cursor: pointer;
}

.headerRight li {
  list-style-type: square;
  margin-right: 20px;
  font-size: 32px;
  font-weight: bold;
}

header ul li:hover {
  color: #fff;
}

main {
  margin: 0 36px;
  border: 20px solid transparent;
  border-image: linear-gradient(76deg,
      #ff0156 0.91%,
      #7707d7 31.46%,
      #00c6ee 71.57%,
      #6e20f6 96.39%) 1;
  min-height: 82%;
  padding: 30px 0;
  display: flex;
  justify-content: center;
}

.panel{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
}

.controls {
  display: flex;
  flex-direction: column;
  max-width: 250px;
}

.controls p{
  color: #4d4d92;
  text-align: center;
  margin-bottom: 20px;
  font-size: 18px;
}

.game {
  z-index: 100;
  margin: auto;
  width: 30%;
}

.progressBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  margin: 20px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card img{
  width: 450px;
}

.storyContent {
  width: 450px;
  max-height: fit-content;
  padding: 25px;
  background-color: var(--color-malva);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap:10px;
}

.storyContent p {
  color: #fff;
  font-size: 18px;
  text-align: center;
}

.optionButton {
  background-color: transparent;
  border: none;
  font-family: "Pixelify Sans";
  color: #fff;
  font-size: 18px;
  text-decoration: underline;
  cursor: pointer;
}

.optionButton:hover {
  color: var(--color-green);
}

.introStory2 {
  display: none;
}

.score {
  color: white;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 10px;
  font-size: 36px;
  margin: 10px 22px;
}

.reset {
  background-color: transparent;
  border: 6px solid var(--color-malva);
  color: var(--color-malva);
  padding: 20px 30px;
  font-family: "Pixelify Sans";
  font-size: 40px;
  cursor: pointer;
}

.reset:hover {
  border: 6px solid var(--color-pink);
  color: var(--color-pink);
}