<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Zombie Devs" />
    <link rel="stylesheet" href="wrong.css" />
    <title>Zombie Devs Game</title>
  </head>
  <body>
    <header>
      <a href="../index.html"
        ><ul class="headerLeft">
          <li></li>
          <li>Inicio</li>
        </ul>
      </a>
      <ul class="headerCenter">
        <li>&lt;Zombie devs/&gt; Game</li>
      </ul>
      <ul class="headerRight">
        <li>&lt;CODE/&gt;</li>
        <li>CREDITS</li>
      </ul>
    </header>
    <div class="headerBorder"></div>

    <main>
      <section class="panel">
        <div class="game">
          <div class="cardWin">
            <div class="storyContentWin">
              <h3 class="titleYouWin">¡YOU WIN!</h3>
              <p>
                Despiertas asustado. Todo era un sueño. Vas hacia la cocina para
                hacerte una cafe y pisas tu patito de goma...
                <br> 
                (CONTINUARÁ...)
              </p>
              <img src="../img/patito.png" alt="" />
              <button class="optionButtonWinGame">JUGAR DE NUEVO</button>
            </div>
          </div>
          <div class="score"></div>
        </div>
      </section>
    </main>
    <script src="script.js"></script>
  </body>
</html>
