@import url("https://fonts.googleapis.com/css2?family=Pixelify+Sans&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  outline: none;
}

body {
  background-color: #00000d;
  background-image: url(/img/background.jpg);
  height: 100vh;
  width: 100vw;
  /* overflow: hidden; */
  font-family: "Pixelify Sans";
}

.logo {
  position: fixed;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
}

header {
  margin: 20px 36px;
  height: 100px;
  background: linear-gradient(
    88deg,
    #6e20f6 0.91%,
    #00c6ee 25.73%,
    #7707d7 65.84%,
    #ff0156 96.39%
  );
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 32px;
  text-transform: uppercase;
  border-bottom: solid 20px transparent;
  border-image: linear-gradient(
      90deg,
      #2f04ed 0%,
      #00c6ee 26%,
      #7707d7 68%,
      #ff001d 100%
    )
    1;
}

.headerLeft {
  margin-left: 20px;
  display: flex;
  gap: 40px;
  box-shadow: 4px 4px #000023;
  color: #00000d;
  align-items: center;
}

.headerLeft:first-child {
  height: 28px;
  width: 28px;
  background-color: #ff0156;
  border-radius: 50%;
  font-size: 32px;
}

.headerCenter {
  color: #fff;
  font-size: 54px;
  margin-left: 200px;
}

.headerRight {
  display: flex;
  gap: 20px;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
}

.headerRight li {
  list-style-type: square;
  margin-right: 20px;
  font-size: 32px;
  font-weight: bold;
}

header ul li:hover {
  color: #fff;
}

main {
  margin: 0 36px;
  border: 20px solid transparent;
  border-image: linear-gradient(
      76deg,
      #ff0156 0.91%,
      #7707d7 31.46%,
      #00c6ee 71.57%,
      #6e20f6 96.39%
    )
    1;
  min-height: 82%;
  padding: 30px 0;
  display: flex;
  justify-content: center;
}

.panel {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
}

.game {
  z-index: 100;
  margin: auto;
  width: 100%;
}

.progressBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  margin: 20px auto;
  width: 30%;
}

.card {
  background-image: url(../img/backgroundERROR.png);
  position: relative;
  background-size: 100% 100%;
  min-height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
  margin: 0 auto;
}

.storyContent {
  display: flex;
  padding: 40px;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  color: #fff;
}

.card img {
  width: 300px;
}

.storyContent h3 {
  font-size: 24px;
  margin-bottom: 5px;
}

.storyContent p {
  font-size: 18px;
}

.optionButton {
  background-color: transparent;
  border: 6px solid #fff;
  color: #fff;
  padding: 20px 30px;
  font-family: "Pixelify Sans";
  font-size: 40px;
  cursor: pointer;
}

.optionButton:hover {
  border: 6px solid #66EC7F;
  color: #66EC7F;
}

.score {
  color: white;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 10px;
  font-size: 36px;
  margin: 10px 22px;
}


.lostPoints {
  color: #ff0156; /* solo se aplicará al primer segmento de la línea */
}

.cardWin {
  display: flex;
  flex-direction: column;
}

.titleYouWin {
  font-size: 100px;
}

.imgWin {
  height: 200px;
  width: 200px;
}

.optionButtonWinGame{
  background-color: transparent;
  border: 6px solid #fff;
  color: #fff;
  padding: 20px 30px;
  font-family: "Pixelify Sans";
  font-size: 40px;
  cursor: pointer;
  width: 400px;
}

.optionButtonWinGame:hover{
  border: 6px solid #66EC7F;
  color: #66EC7F;
}

.storyContentWin {
  display: flex;
  padding: 40px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 40px;
  color: #fff;
}

.storyContentWin p{
  text-align: center;
  font-size: 20px;
}


